<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>goBrowser</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.7/css/bootstrap-material-design.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.7/css/ripples.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	<style>
		#content {
			margin-top: 20px;
		}

	</style>
  </head>
  <body>
	<nav class="navbar navbar-warning">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">
					goBrowser
				</a>
			</div>
			<div class="navbar-collapse collapse navbar-responsive-collapse">
                            <ul class="nav navbar-nav">
                                <li><a href="{{.WebRoot}}/">File</a></li>
                                <li><a href='{{.WebRoot}}/shareslist/'>Share</a></li>
                            </ul>
                        </div>
		</div>
	</nav>
	<div class="container" id="content">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">Not found</h3>
                </div>
                <div class="panel-body">
                    <p>{{ .File }} doesn't exist.</p>
                </div>
                
            </div>
            
	</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.7/js/material.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.7/js/ripples.min.js"></script>
  </body>
</html>
